html{
box-sizing: border-box;
}
body{
	box-sizing: border-box;
	margin:0px;
	padding: 0px;
}
header{
	display: block;
	position: fixed;
	top: 13px;
	right: 13px;
	font-family: serif;
	font-size: 13px;
	color: black;
}
nav{
	display: inline-block;
	vertical-align: top;
	margin-right: 0px;
	margin-bottom: 13px;
}
ul{
	font-family: serif;
	font-size: 13px;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
li{
	display: inline;
	margin-right: 13px;
  	cursor: pointer;
}
section{
  display: block;
  position: fixed;
  top: 13px;
  left: 13px;
  font-family: sans-serif;
  font-size: 13px;
  color: black;
}
img{
	display: block;
/*	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
	cursor: pointer;*/
	border: none;
}
a{
	text-decoration: none;
	color: black;
}
table{
	width: 100%;
	overflow: hidden;
}
td{
	padding: 8px;
}
footer{
	display: block;
	position: fixed;
	bottom: 13px;
	left: 13px;
	font-family: monospace;
	background-color: transparent;
	color: grey;
	font-size: 8px;
}